*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans"
}

html,body{
	height: 100%;
	overflow-x: hidden;
}

.clear{
	clear: both;
}

@font-face{
	src:url('../fonts/OpenSans-Light.ttf');
	font-family: "Open Sans";
}
.clear{
	clear: both;
}

.center{
	width:100%;
	margin: 0 auto;
	
}

		/*Logo e redes sociais*/

.social-midia{
	position: relative;
	float: right;
	padding-top:20px;

}
.social-midia img{
	display: inline-block;
	width: 30px;
	margin: 10% 5px;
}

.header{
	width: 100%;
	padding: 0 2%;
	height: 70px;
	background-color: #e6adce;
}

.header .imas{
	padding-top: 1px;
	width: 200px;

}

	/*Banner*/

.container-banner{
	width: 100%;
	padding: 0 2%;
	height: 557px;
	background-image:url('../images/header2.png');
	background-size: cover;
	background-position: center;
}

.container-banner > .center{
	height: 100%;
	
}

.input-container{
	margin-top:20px;
}

.input-container span{
	display: inline-block;
	width: 100%;
	color: #BBBBBB;
	font-size: 17px;
}

.container-list{
	padding: 30px;
	float: left;
	margin-top: 100px;
	width: 519px;
	height: 230px;
	background-color: rgb(255, 201, 243, 0.8);
	transition: width 6s, height 4s;
}

.container-list:hover{
	width: 600px;
  	height: 270px;
}



.container-list ul{
	list-style-position: inside;

}
.container-list li{
	color: black;
	margin-top: 18px;
}

.container-2{
	
	padding: 40px 2%;
	background-color: #e6adce;
	text-align: center;
}

.container-2 p{
	width: 100%;
	max-width: 768px;
	margin: 15px 0 ;
	display: inline-block;
	text-align: justify;
}


.section-1 {
	padding: 90px 2%;
}
.section-1 h2{
	text-align: center;
	color: #462663;
	font-weight: normal;
}

.container-section{
	margin-top: 40px;
	text-align: center;

}

.container-single{
	float: left;
	padding: 30px;
	width: 33.333%;
}
.text-container-single h2{
	padding-top: 10px;
}

.text-container-single p{
	
	padding: 10px;
	text-align: center;
}

.container-single img{
	width: 350px;
	height: 350px;
}
.section-22{
	padding: 90px  2%;
	margin-right: 30px;
	margin-left: -10px;
}
.section-2{
  margin: 20px;
  width: 100%;
  height: 100%;
  padding: 10px ;
  max-height: 60%;
}

.section-22 h2{
	text-align: center;
	color: #462663;
	font-weight: normal;
	padding-bottom: 50px;
}

.box{
	position:relative;
	width: 23%;
	max-width: 100%;
	max-height: 700px;
	height: 200px;
	padding: 45px 3%;
	background-color: #e6adce;
	float: left;
	margin: 30px 10px;
	border-radius: 20px;
}

.bow1{
	display: block;
}

.box p{
	font-style: italic;
	text-align: center;
	color: black;
}

.footer{
	border-top: 4px solid #e6adce;
	padding: 60px 0;
	text-align: center;

}
.footer p{
 color: black;
 margin-top: 8px;
 font-style: italic;
}

.footer a{
	text-decoration: none;
	color: black;
	font-style: italic;
}

@media screen and (max-width: 1024px){

	/*Redes sociais*/

.social-midia{
	position: relative;
	float: right;
	padding-top:25px;

}
.social-midia img{
	display: inline-block;
	width: 25px;
	margin: 10% 5px;
}

	/*Imagens do site*/

.section-1 {
	padding: 90px 2%;
}
.section-1 h2{
	text-align: center;
	color: #462663;
	font-weight: normal;
}

.container-section{
	margin-top: 40px;
	text-align: center;

}

.container-single{
	float: left;
	padding: 30px;
	width: 33.333%;
}

.container-single p{
	text-align: justify;
	padding: 10px;
}

.container-single img{
	width: 240px;
	height: 240px;
}

	/*Opinião Clientes*/




.box{
	width: 230px ;
	height: 200px;
	display: inline;
	padding: 30px 3%;
}


.box p{
	font-style: italic;
	text-align: center;
	color: black;
}

}

@media screen and (max-width: 768px){



.container-list:hover{
	width: 519px;
  	height: 230px;
  	transition: none;
}



	/*Imagens do site*/

.section-1 {
	padding: 90px 2%;
}
.section-1 h2{
	text-align: center;
	color: #462663;
	font-weight: normal;
}

.container-section{
	margin-top: 40px;
	text-align: center;

}

.container-single{
	float: left;
	padding: 30px;
	width: 50%;
}

.container-single p{
	padding: 10px;
	text-align: center;
}

.container-single img{
	width: 200px;
	height: 200px;
}

	/*Opinião Clientes*/



.box{
	width: 250px ;
	height: 180px;
	display: inline;
	margin-left: 64px;
	padding: 25px 3%;
}


.box p{
	font-style: italic;
	text-align: center;
	color: black;
}

}

@media screen and (max-width: 500px){
	
.container-list:hover{
	width: 519px;
  	height: 230px;
  	transition: none;
}

.container-list{
	padding: 30px;
	float: left;
	margin-top: 100px;
	width: 519px;
	height: 230px;
	background-color: rgb(255, 201, 243, 0.8);
	transition:none;
}


	/*Imagens do site*/

.section-1 {
	padding: 90px 2%;
}
.section-1 h2{
	text-align: center;
	color: #462663;
	font-weight: normal;
}

.container-section{
	margin-top: 40px;
	text-align: center;

}

.container-single{
	float: left;
	padding: 30px;
	width: 100%;
}

.container-single p{
	padding: 10px;
	text-align: center;
}

.container-single img{
	width: 200px;
	height: 200px;
}

	/*Opinião Clientes*/

.box{
	width: 230px ;
	height: 160px;
	max-width: 60%;
	display: inline;
	margin-left: 70px;
	padding: 20px 3%;
}


.box p{
	font-style: italic;
	text-align: center;
	color: black;
}

}

@media screen and (max-width:375px){
	.section-22{
	padding: 0  2%;
	margin-right: 0px;
	margin-left: -34px;
}
}

@media screen and (max-width: 320px){

	.container-list:hover{
		width: 519px;
  	height: 230px;
  	transition: none;
}

.social-midia{
	position: relative;
	float: right;
	padding-top:25px;

}
.social-midia img{
	display: inline-block;
	width: 25px;
	margin: 10% 2px;
}

	/*Imagens do site*/

.section-1 {
	padding: 90px 2%;
}
.section-1 h2{
	text-align: center;
	color: #462663;
	font-weight: normal;
}

.container-section{
	margin-top: 40px;
	text-align: center;

}

.container-single{
	float: left;
	padding: 30px;
	width: 100%;
}

.container-single p{
	padding: 10px;
	text-align: center;
}

.container-single img{
	width: 200px;
	height: 200px;
}

	/*Opinião Clientes*/




.box{
	width: 230px ;
	height: 200px;
	max-width: 60%;
	display: inline;
	margin-left: 43px;
	padding: 25px 3%;
}


.box p{
	font-style: italic;
	text-align: center;
	color: black;
}

}

/*Animação das imagens*/

.container-single img{
	animation-name: animacao;
	animation-duration: 10s;
	box-shadow: 10px 10px 5px 5px rgb(186, 180, 180);
}

@keyframes animacao{
	0%{
		box-shadow: 10px 10px 5px 5px rgb(186, 180, 180);
	}	

	50%{
		box-shadow: 30px 20px 5px 5px rgb(186, 180, 180);
	}

	100%{
		box-shadow: 10px 10px 5px 5px rgb(186, 180, 180);
	}


}